
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-serif: "Merriweather", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #293340;
$light-dark-blue: #344051;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e20020;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gold: #a98860;
