
// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-light .navbar-nav .nav-link {
  color: $gold;
}

.main-header {
  background-color: $blue;
  color: #fff;

  h1 {
    font-weight: bold;
    color: $gold;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0;
    }
  }
}