
// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-light .navbar-nav .nav-link {
  color: $gold;
}

.main-header {
  background-color: $blue;
  color: #fff;

  h1 {
    font-weight: bold;
    color: $gold;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0;
    }
  }
}

.club--header {
}

.club_colors {
    float: left;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
